{% extends 'base.html' %}
<meta name="viewport" content="device-width", intial-scale="1.0",shrink-to-fit="no">
<img src="/media/images/Hunter.png">

{% block content %}
<div style="position: relative;">
  <div style="background-image: url('/media/images/contact.jpg'); position: absolute; background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 1.0;">
  </div>
    <div class="container" style="position: relative; z-index:1;"><br>
      <h1 style="text-align: center; color: white"><b>Contact-Us</b></h1>
      <form method="post" action="/contactus/">
      {% csrf_token %}
        <div class="form-group" style="color: white">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
        </div>
        <div class="form-group" style="color: white">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="form-group" style="color: white">
          <label for="phone">Phone Number</label>
          <input type="phone" class="form-control" id="phone" name="phone">
        </div>
        <div class="form-group" style="color: white">
          <label for="content">Describe Your Query</label>
          <textarea class="form-control" name="content" id="content" name="content" cols="30" rows="03"></textarea>
        </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <br>
    <br>
    <br>
  </div>
</div>


{% endblock content %}